<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SuperfeedrApiEndpoint" value="https://push.superfeedr.com"/>
    <add key="SuperfeedrUsername" value=""/>
    <add key="SuperfeedrPassword" value=""/>
  </appSettings>
</configuration>
